<div id="colecao" class="container services">
  <h2 class="center">O que fazemos!</h2>
  <div class="container">
    <div class="apresentacao">
    <p class="flow-text center">Ao contrário do que se acredita, Lorem Ipsum não é simplesmente um texto randômico. Com mais de 2000 anos, suas raízes podem ser encontradas em uma obra de literatura latina clássica datada de 45 AC. Richard McClintock, um professor de latim do Hampden-Sydney College na Virginia, pesquisou uma das mais obscuras palavras em latim, consectetur, oriunda de uma passagem de Lorem Ipsum, e, procurando por entre citações da palavra na literatura clássica, descobriu a sua indubitável origem.</p>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4 13 center-align">
      <div class="card">
        <div class="">
          <a href="#" class="" ></a>
          <div class="card-image">
          <i >
            <img class="" src="/assets/m1.jpg"></img>
            Dia a dia
          </i>
          </div>
          <h5>Lingeries</h5>
          <p>
              Lingerie de luxo sensual que realça a beleza da mulher. Corset, espartilho, sutiã, calcinha, camisola, pijama, baby doll e lingerie para lua de mel
          </p>
        </div>
        <div class="card-action"><a href="/colections/index">Conferir...</a></div>
      </div>
    </div>
    <div class="col s12 m4 13 center-align">
      <div class="card">
        <div class="">
          <div class="card-image">
          <i ><img class=""  src="/assets/m2.jpg"></img>
            Seu lazer
          </i>
          </div>
          <h5>Praia</h5>
          <p>
              Praia de luxo sensual que realça a beleza da mulher. Corset, espartilho, sutiã, calcinha, camisola, pijama, baby doll e lingerie para lua de mel
          </p>
        </div>
        <div class="card-action"><a href="#">Conferir...</a></div>
      </div>
    </div>
    <div class="col s12 m4 13 center-align">
      <div class="card">
        <div class="">
          <div class="card-image">
          <i ><img class=""  src="/assets/m3.jpg"></img>
            Seja objetivo
          </i>
          </div>
          <h5>Fitness</h5>
          <p>
              Fitness de luxo sensual que realça a beleza da mulher. Corset, espartilho, sutiã, calcinha, camisola, pijama, baby doll e lingerie para lua de mel
          </p>
        </div>
        <div class="card-action"><a href="#">Conferir...</a></div>
      </div>
    </div>
  </div>
</div>
