
    <%= render "welcome/slider"%>

    <%= render "welcome/card"%>

<!--
<div class="parallax-container valign-wrapper">
<div class="section no-2-bot">
  <div class="container">
    <div class="row center">
      <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
    </div>
  </div>
</div>
<div class="parallax"><img src="/assets/m4.jpg"alt="Unsplashed background img 3"></div>
</div>
-->
