
<footer class="page-footer purple darken-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text" id="contato">Contato</h5>
                <p class="grey-text text-lighten-4">Endereço:</p>
                  <h6>Av. Marcos Matarezio 2885, Bairro: Bom Jesus</h6>
                <p class="grey-text text-lighten-4">Tel: </p>
                  <h6>(17)3482-1002</h6>
                <p class="grey-text text-lighten-4">Email: </p>
                  <h6>via.elegance@hotmail.com</h6>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Sociais</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/Via-Elegance-Store-1989569394651488/">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © Via Elegancia 2018
            <a class="grey-text text-lighten-4 right" href="https://www.facebook.com/Via-Elegance-Store-1989569394651488/">Store</a>
            </div>
          </div>
        </footer>
