
<div class="navbar-fixed">
  <nav class="navbar" id="mainNav"  >
      <div class="nav-wrapper">
       <a href="#" class="brand-logo" margin-button="10px">
         <img src="/assets/via_elegance.png"/>
       </a>
       <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down fixed">
        <li class=""><a href="#" ><%= home %></a></li>
        <li><a href="#colecao">COLEÇÃO</a></li>
        <li><a href="#apresentacao">QUEM SOMOS</a></li>
        <li><a href="#contato">CONTATO</a></li>
      </ul>


    </div>
  </nav>
  </div>
  <ul class="side-nav" id="mobile-demo">
    <li><a href="#"><%= home %></a></li>
    <hr>
    <li><a href="#colecao">COLEÇÃO</a></li>
    <hr>
    <li><a href="#apresentacao">QUEM SOMOS</a></li>
    <hr>
    <li><a href="#contato">CONTATOS</a></li>
  </ul>
  <div class="right-sidebar">
    <ul class="collection right-align">
      <li class="collection-item"><a class="fa fa-facebook" href="https://www.facebook.com/Via-Elegance-Store-1989569394651488/"></a></li>
        <li class="collection-item"><a class="fa fa-twitter" href="#"></a></li>
        <li class="collection-item"><a class="fa fa-instagram" href="https://instagram.com/viaelegancestore?utm_source=ig_profile_share&igshid=b0ii2q3acayz"></a></li>

    </ul>
  </div>
